* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
button:hover {
    cursor: pointer;
}


/* header */
#real-header {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}
.img-links {
    display: flex;
}
.img-links > img {
    width: 110px;
    object-fit: contain;
    padding-left: 10px;
}
.img-links:hover {
    cursor: pointer;
}
ul {
    list-style-type: none;
    display: flex;
    padding-right: 10px;
}
ul a {
    text-decoration: none;
    padding: 13px;
    color: #606060;
    font-size: 13px;
}
.start {
    background-color: #0061ff;
    padding: 4px 7px;
    color: white;
}


/* main */
main {
    margin-top: 70px;
}

/* main-header */
.main-header {
    min-height: 420px;
    background-color: #b4d0e7;
    padding-top: 40px;
}
.container-main-header {
    width: 70%;
    min-height: 450px;
    margin: 0 auto;
}
.container-main-header > h1 {
    font-size: 63px;
}
.txt-img-main-header {
    display: flex;
    margin-top: 20px;
}

.txt-img-main-header > div:first-child {
    width: 40%;
}
.txt-img-main-header > div:first-child > button {
    padding: 8px 13px;;
    background-color: #0061ff;
    color: white;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.txt-img-main-header > div:first-child > i {
    margin-top: 50px;
    padding-left: 6px;
    font-size: 30px;
}
.txt-img-main-header > div:last-child {
    width: 80%;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    margin-bottom: -70px;
}



/* section 1 */
.section-1 {
    min-height: 800px;
    width: 60%;
    margin: 0 auto;
    margin-top: 120px;
}
.title-contenuto {
    height: 200px;
}
.section-1 > h2 {
    font-size: 25px;
}
.container-section-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.container-section-1 > div {
    border: 1px solid lightgray;
    width: 260px;
    height: 750px;
}
.user, .team, .azienda {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    width: 100%;
    font-size: 14px;
}
.contenuto-icon-text-sec {
    min-height: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.contenuto-icon-text-sec > div {
    margin-top: 20px;
}
.contenuto-icon-text-sec > .title-contenuto > div > h5 {
    font-size: 20px;
}
.contenuto-icon-text-sec > .title-contenuto > div > h6 {
    font-size: 14px;
    margin-top: 10px;
}
.contenuto-icon-text-sec > .title-contenuto > div:first-child > p {
    margin-top: 6px;
    color: rgb(166, 153, 153);
}

.icons .icons-text {
    display: flex;
    padding-top: 10px;
    margin-top: 10px;
}

.icons .icons-text > div:last-child {
    font-size: 13px;
    padding-left: 10px;
}
.icons > i {
    padding-top: 14px;
    font-size: 14px;
}
.icons > span {
    font-size: 12px;
}
.contenuto-icon-text-sec > div > button {
    width: 100%;
    padding: 8px 0px;;
    background-color: #0061ff;
    color: white;
    border: none;
    margin-bottom: 22px;
}

.contenuto-icon-text-sec > .button-link {
    margin-top: 60px;
    font-size: 14px;
    margin-bottom: 30px;
}
.contenuto-icon-text-sec > .button-link > p > a {
    color: #0061ff;
}
.barra {
    border: 0.2px solid lightgray;;
    width: 40px;
}
.final-contenuto-icon-text > h6 {
    padding-top: 15px;
    margin-bottom: 18px;
}
.final-contenuto-icon-text > div {
    font-size: 12px;
}
.final-contenuto-icon-text > div > i {
    color: #0061ff;
}

.enterprise {
    border: 1px solid lightgray;
    margin-top: 20px;
    width: 100%;
    height: 200px;
}
.enterprise-container {
    display: flex;
}
.enterprise-container > div:first-child {
    padding: 20px;
}
.enterprise-container > div:first-child > h3 {
    margin-bottom: 18px;
}
.enterprise-container > div:first-child > h5 {
    margin-bottom: 20px;
}
.enterprise-container > div:first-child > p {
    font-size: 12px;
}
.enterprise-container > div:last-child {
    flex-grow: 1;
    text-align: end;
    padding: 20px 12px;
}
.enterprise-container > div:last-child > button {
    width: 90%;
    padding: 8px 0px;;
    background-color: #0061ff;
    color: white;
    border: none;
}



/* section 2 */
.section-2 {
    min-height: 300px;
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}
.container-section-2 {
    display: flex;
}
.container-section-2 > div {
    height: 400px;
}
.img-section-2 {
    flex-grow: 2;
}
.img-section-2 img {
    width: 440px;
}
.text-section-2 {
    flex-grow: 1;
}
.text-sec2 {
    padding: 50px;
}
.text-sec2 p {
    margin-top: 16px;
    font-size: 15px;
}
.text-sec2 button {
    margin-top: 22px;
    background-color: white;
    padding: 6px;
    border: 1px solid #808080;
}



/* section 3 */
.section-3 {
    min-height: 700px;
    width: 60%;
    margin: 0 auto;
    margin-top: 70px;
}
.section-3 > h2 {
    font-size: 30px;

}
.container-section-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}
.container-section-3 > div {
    width: 220px;
    height: 370px;
}
.img-section-3 {
    text-align: center;
}
.img-section-3 > img {
    width: 200px;
}
.container-section-3 > div > p {
    padding-top: 20px;
    font-size: 13px;
}



/* section 4 */
.section-4 {
    min-height: 200px;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.section-4 > h2 {
    margin-bottom: 40px;
}
.section-4 > a {
    color: #0061ff;
}



/* section 5 */
.section-5 {
    display: flex;
    justify-content: space-between;
}
.box-sec5 {
    width: calc(100%/3);
    height: calc(100vw/3);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box-sec5 > div {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-sec5 > div > img {
    width: 50%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(46deg) brightness(104%) contrast(104%); 
}
#box-sec-5-img-text {
    width: 35%;
    background-color: #f5f5f5;
}
.container-sec-5-img-text {
    padding: 30px;
    margin: 30px 30px;
    background-image: url(../img/designit.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.barra-sec5 {
    border: 1px solid lightgray;
    width: 60px;
    margin-left: 30px;
}

.text-sec-5 {
    margin: 30px 30px;
    font-size: 13px;
}

.text-sec-5-final {
    margin: 30px 30px;
    font-size: 13px;
}



/* regole colore sfondo box */
.verde {
    background-color: #a2d39b;
}
.amaranto {
    background-color: #61082b;
}
.celeste {
    background-color: #0093ce;
}
.rosso {
    background-color: #ff1c1c;
}
.celeste-chiaro {
    background-color: #b4d0e7;
}
.blu {
    background-color: #0d2481;
}
.giallo {
    background-color: #ffd830;
}



/* section 6 */
.section-6 {
    min-height: 200px;
    background-color: #b4d0e7;
}
.container-section-6 {
    display: flex;
    width: 60%;
    height: 200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    color: #61082b;
}
.container-section-6 > div > button {
    width: 200px;
    padding: 6px 14px;
    background-color: white;
    border: none;
}



/* section 7 */
.section-7 {
    min-height: 300px;
    width: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
}
.container-section-7 {
    width: 100%;
    margin-top: 20px;
}
.section-7 > h2 {
    margin-bottom: 40px;
}
.container-section-7 > div {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons-sec7 {
    padding-right: 16px;
}
.icons-sec7:hover {
    cursor: pointer;
}



/* footer */
footer {
    min-height: 370px;
    background-color: black;
    padding-top: 50px;
    color: white;
}
.container-footer {
    margin-top: 50px;
    width: 70%;
    margin: 0 auto;
    height: 230px;
    display: flex;
    justify-content: space-between;
}
.container-footer > div > h3 {
    margin-bottom: 30px;
}
.container-footer > div > p {
    font-size: 12px;
    line-height: 25px;
}
.container-footer > div {
    height: 230px;
    padding-top: 20px;
}
.barra-bianca {
    border: 0.5px solid white;
    width: 90px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.container-footer > div > span {
    color: white;
    padding-top: 20px;
    font-size: 12px;
}