* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/* header */
header {
    min-height: 60px;
    border: 1px dashed black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-links {
    display: flex;
}
.img-links > img {
    width: 110px;
    object-fit: contain;
    padding-left: 10px;
}
ul {
    list-style-type: none;
    display: flex;
    padding-right: 10px;
}
ul a {
    text-decoration: none;
    padding: 13px;
    color: #606060;
    font-size: 13px;
}
.start {
    background-color: #0061ff;
    padding: 4px 7px;
    color: white;
}



/* main */
.main-header {
    min-height: 400px;
    border: 1px dashed black;
    background-color: #b4d0e7;
}

/* section 1 */
.section-1 {
    min-height: 800px;
    width: 50%;
    border: 1px dashed black;
    margin: 0 auto;
    margin-top: 70px;
}
.section-1 > h2 {
    font-size: 25px;
}
.container-section-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.container-section-1 > div {
    border: 1px solid black;;
    width: 210px;
    height: 560px;
}
.user {
    text-align: center;
    border-bottom: 1px solid black;;
    padding: 4px;
    width: 209px;
}
.contenuto-icon-text-sec1 {
    border: 1px solid black;
    height: 300px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
.contenuto-icon-text-sec1 > div {
    border: 1px solid black;
    margin-top: 16px;
}
.contenuto-icon-text-sec1 > div > h5 {
    font-size: 20px;
}
.contenuto-icon-text-sec1 > div > h6 {
    font-size: 14px;
    margin-top: 13px;
}
.contenuto-icon-text-sec1 > div > p {
    margin-top: 6px;
    color: rgb(166, 153, 153);
}
.icons > i {
    padding-top: 10px;
    font-size: 14px;
}

.enterprise {
    border: 1px solid black;
    margin-top: 20px;
    width: 685px;
    height: 150px;
}


/* section 2 */
.section-2 {
    min-height: 300px;
    width: 50%;
    border: 1px dashed black;
    margin: 0 auto;
    margin-top: 100px;
}
.container-section-2 {
    display: flex;
}
.container-section-2 > div {
    border: 1px solid black;
    height: 400px;
}
.img-section-2 {
    flex-grow: 2;
}
.img-section-2 img {
    width: 440px;
}
.text-section-2 {
    flex-grow: 1;
}
.text-sec2 {
    padding: 30px 10px;
}
.text-sec2 p {
    margin-top: 16px;
    font-size: 15px;
}
.text-sec2 button {
    margin-top: 22px;
    background-color: white;
    padding: 6px;
    border: 1px solid #808080;
}


/* section 3 */
.section-3 {
    min-height: 700px;
    width: 50%;
    border: 1px dashed black;
    margin: 0 auto;
    margin-top: 70px;
}
.container-section-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-section-3 > div {
    border: 1px solid black;
    width: 220px;
    height: 370px;
}
.img-section-3 {
    text-align: center;
}
.img-section-3 > img {
    width: 200px;
}
.container-section-3 > div > p {
    padding-top: 20px;
    font-size: 13px;
}

/* section 4 */
.section-4 {
    min-height: 200px;
    width: 50%;
    border: 1px dashed black;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 50px;
}
.section-4 > h2 {
    margin-bottom: 40px;
}

.section-5 {
    min-height: 350px;
    border: 1px dashed black;
}

.section-6 {
    min-height: 200px;
    border: 1px dashed black;
}

.section-7 {
    min-height: 300px;
    width: 50%;
    margin: 0 auto;
    border: 1px dashed black;
}

/* footer */

footer {
    min-height: 200px;
    background-color: black;
}